.render_data {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#product_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}
.product_item {
    border: 1px solid #ddd;
    height: fit-content;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.product_item:hover {
    transform: translateY(-5px);
}
.myImages {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.product_title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.product_price {
    color: #023047;
    margin: 5px 0;
}
button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2980b9;
}
.cart_main_content {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    border-top: 2px solid #ddd;
}

.cart_image_element {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
}
.fa-trash {
    color: red;
    cursor: pointer;
}
.empty_rem {
    display: none;
}